:root {
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  --main-bg: #ffffff;
  --btn-bg: #2196f3;
  --team-bg: #f5f4fa;
  --footer-bg: #2f303a;
  --black-color: #000000;
  --header-color: #212121;
  --text-color: #757575;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --footer-border: #ececec;
  --client-color: #afb1b8;
}
